.experiance {
  padding: 100px 0 100px;
}

.row-experiance {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 50px;
}
.experiance__column {
  max-width: 600px;
}
.experiance__img {
  width: 470px;
}
.experiance__video {
}

.experiance__subtitle {
  color: #396bb7;
  font-size: 20px;
  font-style: italic;
  line-height: 1.6em;
  margin-bottom: 15px;
  font-family: "Lora", serif;
}
.experiance__text {
  color: #7d7d7d;
  font-size: 16px;
  line-height: 1.8em;
  margin-bottom: 45px;
}
.experiance__item {
}
.experiance__list {
  position: relative;
  padding-left: 30px;
  margin-bottom: 13px;
  color: #242424;
  font-size: 18px;
  font-weight: 400;
  &:before {
    position: absolute;
    content: "";
    background-image: url(../img/check-solid.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 0;
    top: -2px;
  }
}
