@media (max-width: 1200px) {
  //welcome
  .welcome__column-1 {
    max-width: 500px;
  }

  .welcome__column-2 {
    max-width: 400px;
  }

  .column-2__box {
    margin-right: 25px;
  }

  //experiance

  .row-experiance {
    align-items: center;
  }

  .services__box-img {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .welcome__column-1 {
    max-width: 400px;
  }
  .welcome__column-2 {
    max-width: 370px;
  }

  .column-2__icon-laborers::before {
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    left: -85px;
  }

  .column-2__icon-medal::before {
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    left: -85px;
  }
  .column-2__icon-screwdriver::before {
    background-repeat: no-repeat;
    width: 60px;
    height: 70px;
    left: -85px;
  }
}

@media (max-width: 1040px) {
  //header
  .row-banner {
    column-gap: 15px;
  }
  .banner__text-title {
    font-size: 40px;
    line-height: 50px;
  }
  .banner__img {
    width: 350px;
  }
}
@media (max-width: 990px) {
  //welcome
  .welcome {
    background: #fff;
  }
  .welcome__column-1 {
    max-width: 100%;
  }
  .welcome__column-2 {
    display: none;
  }

  //experiance
  .experiance__img {
    width: 400px;
  }
}
@media (max-width: 900px) {
  //header
  .header__banner {
    padding-top: 55px;
  }
  .experiance {
    padding: 55px 0 55px;
  }

  .banner__text-title {
    font-size: 30px;
    line-height: 50px;
  }
  .banner__img {
    width: 290px;
  }
  //experiance
  .experiance__subtitle {
    font-size: 18px;
  }
  .experiance__img {
    width: 310px;
  }

  .phone__img {
    width: 370px;
  }
  .phone__imgs {
    margin-top: -23px;
  }

  .footer-bottom__img {
    height: 250px;
  }
  .row-services {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    justify-items: center;
  }
}

@media (max-width: 760px) {
  .phone__title {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .experiance {
    padding: 40px 0 40px;
  }
  .experiance__img {
    display: none;
  }
  .row-footer-bottom {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
  }
  .footer-bottom__img {
    height: 190px;
  }
}
@media (max-width: 720px) {
  .footer-top__boxs {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  //header
  .banner__text-title {
    font-size: 20px;
    line-height: 30px;
  }
  .banner__text-subtitle {
    font-size: 16px;
    line-height: 25px;
  }
  .banner__img {
    width: 230px;
  }
  .phone__img {
    width: 300px;
  }
  .phone__imgs {
    margin-top: 6px;
  }
  .phone__title {
    font-size: 25px;
    padding-top: 45px;
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 20px;
  }
  .phone__number {
    font-size: 25px;
  }
}

@media (max-width: 550px) {
  //header
  .banner__text-title {
    font-size: 18px;
    line-height: 30px;
  }
  .banner__text-subtitle {
    font-size: 16px;
    line-height: 25px;
  }
  .banner__img {
    width: 180px;
  }
  .banner__link {
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 16px;

    padding: 12px;
  }

  .title-2 {
    font-size: 25px;
  }
  .experiance__text {
    margin-bottom: 28px;
  }
  .phone__img {
    width: 200px;
  }
  .phone__imgs {
    margin-top: 32px;
  }
  .phone__title {
    padding-top: 23px;
  }
  .row-services {
    grid-template-columns: repeat(1, minmax(180px, 1fr));
    justify-items: center;
  }
}

@media (max-width: 450px) {
  //header
  .banner__img {
    display: none;
  }
  .phone__title {
    padding-top: 18px;
    font-size: 18px;
  }
  .phone__number {
    font-size: 18px;
  }
  .phone__img {
    width: 150px;
  }
  .phone__imgs {
    margin-top: 42px;
  }
  .row-footer-bottom {
    column-gap: 15px;
  }
  .footer-bottom__img {
    height: 150px;
  }
}

@media (max-width: 400px) {
  .title-2 {
    font-size: 22px;
  }
  .column-1__subtitle {
    font-size: 18px;
  }
  .column-1__text + .column-1__text {
    margin-top: 10px;
  }
  .column-1__phono {
    font-size: 25px;
  }
  .row-footer-bottom {
    grid-template-columns: 90px 200px;
    column-gap: 10px;
  }
  .footer__logo {
    width: 180px;
  }
}

@media (max-width: 350px) {
  .phone__img {
    width: 120px;
  }
  .phone__imgs {
    margin-top: 42px;
  }
  .row-footer-bottom {
    grid-template-columns: 80px 190px;
    column-gap: 10px;
  }
}
